version: '3.8'
services:
  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
      - N8N_HOST=0.0.0.0
      - N8N_SECURE_COOKIE=false
      - WEBHOOK_TUNNEL_URL=
      - GENERIC_TIMEZONE=Europe/Moscow
    ports:
      - "5678:5678"
    volumes:
      - ./n8n_data:/home/node/.n8n
